name: Write Release Notes

on:
    release:
        types: [published]

jobs:
    get_release_notes:
        runs-on: ubuntu-latest
        steps:
            - name: Get Release Notes
              id: get_release
              run: |
                  RELEASE_TAG="${{ github.ref_name }}"
                  RELEASE_INFO=$(curl -s -H "Authorization: token ${{ secrets.PERSONAL_ACCESS_TOKEN }}" \
                    "https://api.github.com/repos/${{ github.repository }}/releases/tags/${RELEASE_TAG}")
                  RELEASE_BODY=$(echo "$RELEASE_INFO" | jq -r '.body')
                  echo "RELEASE_BODY<<EOF" >> $GITHUB_OUTPUT
                  echo "$RELEASE_BODY" >> $GITHUB_OUTPUT
                  echo "EOF" >> $GITHUB_OUTPUT
              env:
                  GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

            - name: Use Release Notes
              run: |
                  echo "The release notes are:"
                  echo "DETAILS=${{ steps.get_release.outputs.RELEASE_BODY }}"

            - name: gsheet.action
              uses: jroehl/gsheet.action@v2.1.1
              with:
                  spreadsheetId: ${{ secrets.GOOGLE_SHEET_ID }}
                  commands:
                      | # list of commands, specified as a valid JSON string
                      [
                      { "command": "addWorksheet", "args": { "worksheetTitle": "Test-${RELEASE_TAG}" }},
                      { "command": "updateData", "args": { "data": [["${DETAILS}"]] }},
                      { "command": "getData", "args": { "range": "'Test-${RELEASE_TAG}'!A1" } }
                      ]
              env:
                  GSHEET_CLIENT_EMAIL: ${{ secrets.GOOGLE_SHEET_CLIENT_EMAIL }}
                  GSHEET_PRIVATE_KEY: ${{ secrets.GOOGLE_SHEET_PRIVATE_KEY }}

            - name: dump results
              env:
                  #  the output of the action can be found in ${{ steps.update_worksheet.outputs.results }}
                  RESULTS: ${{ steps.update_worksheet.outputs.results }}
              run: echo "$RESULTS" | jq
